#auth-wrapper {
    padding: 100px 0px 150px;
    min-width: 1440px;
    /* 100vh - header 높이 - 위쪽 padding 높이 - 아래쪽 padding 높이 */
    height: calc(100vh - 68px - 100px - 150px);
    min-height: 960px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(assets/auth-background.png);
    /* 중앙 정렬 */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* auto or 100% 100% */
    background-size: auto;
}

.auth-container {
    width: 1200px;
    height: 100%;

    display: grid;
    /* 7:5로 화면 나누기 */
    grid-template-columns: 7fr 5fr;
    column-gap: 78px;
}

.auth-jumbotron-box {
    grid-column: 1 / 2;

    height: 100%;

    display: flex;
    /* 수평 중앙 정렬 */
    justify-content: center;
    /* 수직 중앙 정렬 */
    align-items: center;
}

.auth-jumbotron-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth-logo-icon {
    width: 50px;
    height: 50px;

    background-image: url(assets/auth-logo.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.auth-jumbotron-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.auth-jumbotron-text {
    color: rgba(255, 255, 255, 1);
    font-family: 'omyu_pretty';
    font-size: 40px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -1.2px;
    text-align: center;
}